[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = DE
ST = Berlin
L = Berlin
O = MyOrg
OU = IT
CN = 172.142.5.3

[v3_req]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth

[alt_names]
IP.1 = 172.142.5.3
DNS.1 = localhost
